/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 100px;

  /*===== Colores =====*/
  --first-color: #0C5DF4;
  --bg-color: #f5f6fa;
  --sub-color: #B6CEFC;
  --white-color: #000;
  --black: #000;
  --nav--link:#818181;

  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}
h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

/*===== l NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}
.nav__logo{
  color: var(--white-color);
  font-weight: 600;
}

.nav__link{
  color: var(--nav--link);
  transition: .3s;
  text-align: left;
  cursor: pointer;
}

.nav__icon{
  font-size: 1.25rem;
  text-align: left;
  padding-left: 100px;
  padding-top: -18px;
}
.nav__name{
  font-size: var(--small-font-size);
  padding-right: 26px;
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 9.25rem);
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 16rem 16rem;
}

/*Active links menu*/
.active{
  /* background-color: var(--first-color); */
}

.collapse__link:hover{
  color: #000;
}

.nav__name:hover{
  color: #000;
}

/*===== COLLAPSE =====*/
/* .collapse{
  grid-template-columns: 30px max-content 1fr;
} */
.collapse__link{
  transition: .5s;
  text-align: left;
  margin-left: 100px;
  padding-top: -18px;
  font-size: 20px;
}
.collapse__menu{
  display: none;
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  /* color: var(--sub-color); */
  font-size: var(--small-font-size);
  padding: auto;
  color: var(--nav--link);
}

.collapse__sublink:hover{
  color: var(--black);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}

.card-description {
  margin-bottom: 0.875rem;
  margin-right: 0.5rem;
  font-weight: 100;
  color: #76838f;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #000;
}