/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/
/*
    DEMO STYLE
*/
:root{
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --nav--link:#fafafa;
  --black: #000;
  --sidebar-width: 300px;
  --sidebar-width-margin: -300px;

}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
}

p {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #212529;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.solid-line {
  width: 100%;
  height: 1px;
  border-top: 1px solid #bbb;
  margin: 20px 0;
}
/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  background: var(--nav--link);
  color: var(--black);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: var(--sidebar-width-margin);
}

#sidebar .sidebar-header {
  padding: 20px;
  /* background: #6d7fcc; */
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
  color: var(--black);
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a {
  color: var(--black);
  /* background: #6d7fcc; */
}

#sidebar ul li a:hover {
  color: #6d7fcc;
  /* background: #6d7fcc; */
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: var(--black);
  background: #ADD8E6;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #ADD8E6;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: var(--sidebar-width-margin);
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}

/*----------
To do : Collapsible 
-------------*/

.wrapper{
  display: flex;
}

.collapsible  {
  width: 100%;
  overflow: hidden;
}

.collapsible_button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: background 0.2s;
}

.collapsible_button::before{
    content: "\25be";
    float: left;
    transform: scale(1.5);
    padding-right: 15px;
}

.collapsible_button--active {
  background: white;
  
}

.collapsible_button--active::before{
  content: "\25b4";
  float: left;
  transform: scale(1.5);
  padding-right: 15px;
}

.collapsible-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
}